{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">YBANK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          {% if user.is_authenticated %}
          <a class="nav-link" href="#">hello {{user.username}}</a>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="reg/logout">LOGOUT</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="reg/login">LOGIN</a>
      </li>
        <li class="nav-itemS">
        <a class="nav-link" href="reg/register">REGISTER</a>
      </li>
        {% endif %}

  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           DISTRICT
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam">Eranakulam</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Pathanamthitta">pathanamthitta</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Idukki_district">Idukki</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Thiruvananthapuram</a></li>
          </ul>


    </ul>


  </div>

</nav>
    <div class="banner">
        <img src="{% static 'img/ybank.jpg' %}" alt="banner">

    </div>
    <button type="button" class="btn btn-warning btn-lg btn-block"style="font-size:34px;"><a href="reg/login">START INVEST</a></button>
</div>

{% endblock %}



